.form-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #16703c;
  align-items: center;
}

.form-container form {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background-color: #fcfced;
  border-radius: 5px;
  left: 30%;
  right: 30%;
  padding: 5% 0;
  width: 40vi;
}

@media (max-width: 768px) {
  .form-container form {
    left: 7%;
    right: 7%;
    width: 80%;
    padding: 10px;
  }
}

.form-container form label {
  display: flex;
  background-color: #ededdf;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 0 10px;
}

.form-container form input[type="lastname"],
.form-container form input[type="firstname"],
.form-container form input[type="username"],
.form-container form input[type="email"],
.form-container form input[type="password"] {
  padding: 6px;
  margin: 5px 10px;
  background-color: #fcfced;
  border: none;
  border-radius: 23px;
}

.form-container form input:focus {
  border: 2px solid #16703c;
  margin: 10px 20px;
  outline: none;
}

.form-container form input[type="lastname"]:focus::placeholder,
.form-container form input[type="firstname"]:focus::placeholder,
.form-container form input[type="email"]:focus::placeholder,
.form-container form input[type="username"]:focus::placeholder,
.form-container form input[type="password"]:focus::placeholder {
  color: transparent;
}

.login-button,
.register-button {
  width: 100px;
  border-radius: 10px;
  margin: 2%;
  padding: 10px;
  background-color: #f1f5f2;
  color: #011627;
  border: 2px solid #011627;
  font-size: 16px;
  cursor: pointer;
  border-bottom-width: 5px;
}

.login-button:active,
.register-button:active {
  font-size: 13px;
}

.login-button:hover,
.register-button:hover {
  background-color: #011627;
  color: #2adf76;
  border: 2px solid #16703c;
  border-bottom-width: 5px;
}

.form-container a {
  text-decoration: none;
  color: #092c17;
  font-weight: bold;
}
